<div class="nav_container ">
    <div class="nav_redirect normal">
        <ul class="nav_redirect_item">
            <li><a class="text_nav_redirect" href="">Trang chủ</a></li>
            <li><a class="text_nav_redirect" href="">Tìm Kiếm</a></li>
        </ul>
    </div>
    <div class="nav_listalbum normal">

    </div>
</div>