<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="mt-4">
      <nav class="navbar bg-body-dark">
        <div class="container-fluid">
          <span class="navbar-brand text-light ms-3 mb-0 h1">MusicandOne</span>
        </div>
      </nav>
    </header>
    <div class="container">

    </div>
  </body>
</html>