{{!-- <div class="d-flex">
    <div class="col-3"></div>
    <div class="col-9"></div>
</div> --}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Helvetica+Neue:wght@400;700&display=swap" />
    <link rel="stylesheet" href="./public/main.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="flex-row-a">
        <div class="frame">
          <div class="auto-layout-vertical">
            <div class="auto-layout-horizontal">
              <div class="frame-1"></div>
              <div class="auto-layout-horizontal-2">
                <span class="home">Home</span>
              </div>
            </div>
            <div class="auto-layout-horizontal-3">
              <div class="frame-4"></div>
              <div class="auto-layout-horizontal-5">
                <span class="search">Search</span>
              </div>
            </div>
            <div class="auto-layout-horizontal-6">
              <div class="frame-7"></div>
              <div class="auto-layout-horizontal-8">
                <span class="your-library">Your Library</span>
              </div>
            </div>
          </div>
          <div class="auto-layout-vertical-9">
            <div class="auto-layout-horizontal-a">
              <div class="auto-layout-horizontal-b">
                <span class="create-playlist">Create Playlist</span>
              </div>
              <div class="frame-c"><div class="frame-d"></div></div>
            </div>
            <div class="auto-layout-horizontal-e">
              <div class="auto-layout-horizontal-f">
                <span class="liked-songs">Liked Songs</span>
              </div>
              <div class="frame-10"><div class="frame-11"></div></div>
            </div>
          </div>
          <div class="frame-12">
            <div class="auto-layout-vertical-13">
              <div class="frame-14">
                <div class="flex-row-b">
                  <span class="legal">Legal</span
                  ><span class="privacy-center">Privacy Center</span>
                </div>
                <div class="flex-row-ffd">
                  <span class="privacy-policy">Privacy Policy</span
                  ><span class="cookies">Cookies</span>
                </div>
                <div class="flex-row">
                  <span class="about-ads">About Ads</span>
                  <div class="frame-15"><div class="frame-16"></div></div>
                </div>
              </div>
              <span class="cookies-17">Cookies</span>
            </div>
            <div class="auto-layout-horizontal-18">
              <div class="frame-19"></div>
              <span class="english">English</span>
            </div>
          </div>
        </div>
        <div class="frame-1a">
          <div class="frame-1b">
            <div class="auto-layout-horizontal-1c">
              <span class="sign-up">Sign up</span>
              <div class="auto-layout-horizontal-1d">
                <span class="log-in">Log in</span>
              </div>
            </div>
            <div class="auto-layout-horizontal-1e">
              <div class="frame-1f"><div class="frame-20"></div></div>
              <div class="frame-21"><div class="frame-22"></div></div>
            </div>
          </div>
          <div class="frame-23">
            <div class="frame-24">
              <div class="frame-25">
                <div class="auto-layout-horizontal-26">
                  <div class="frame-27"></div>
                  <div class="auto-layout-vertical-28">
                    <div class="auto-layout-vertical-29">
                      <div class="auto-layout-horizontal-2a">
                        <div class="auto-layout-horizontal-2b">
                          <span class="focus">Focus</span>
                        </div>
                        <span class="show-all">Show all</span>
                      </div>
                      <div class="auto-layout-horizontal-2c">
                        <div class="auto-layout-horizontal-2d">
                          <div class="auto-layout-vertical-2e">
                            <div class="frame-2f"></div>
                            <div class="auto-layout-vertical-30">
                              <div class="auto-layout-horizontal-31">
                                <span class="peaceful-piano"
                                  >Peaceful Piano</span
                                >
                              </div>
                              <div class="auto-layout-horizontal-32">
                                <span class="relax-and-indulge"
                                  >Relax and indulge with beautiful piano
                                  pieces</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="auto-layout-horizontal-33">
                          <div class="auto-layout-vertical-34">
                            <div class="frame-35"></div>
                            <div class="auto-layout-vertical-36">
                              <div class="auto-layout-horizontal-37">
                                <span class="deep-focus">Deep Focus</span>
                              </div>
                              <div class="frame-38">
                                <span class="keep-calm-and-focus"
                                  >Keep calm and focus with ambient and
                                  post-rock music.</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="auto-layout-horizontal-39">
                          <div class="auto-layout-vertical-3a">
                            <div class="frame-3b"></div>
                            <div class="auto-layout-vertical-3c">
                              <div class="auto-layout-horizontal-3d">
                                <span class="instrumental-study"
                                  >Instrumental Study</span
                                >
                              </div>
                              <div class="auto-layout-horizontal-3e">
                                <span class="focus-with-soft-study"
                                  >Focus with soft study music in the
                                  background.</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="auto-layout-horizontal-3f">
                          <div class="auto-layout-vertical-40">
                            <div class="frame-41"></div>
                            <div class="auto-layout-vertical-42">
                              <div class="auto-layout-horizontal-43">
                                <span class="jazz-vibes">Jazz Vibes</span>
                              </div>
                              <div class="auto-layout-horizontal-44">
                                <span class="the-original-chill"
                                  >The original chill instrumental beats
                                  playlist.</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="auto-layout-horizontal-45">
                          <div class="auto-layout-vertical-46">
                            <div class="frame-47"></div>
                            <div class="auto-layout-vertical-48">
                              <div class="auto-layout-horizontal-49">
                                <span class="focus-flow">Focus Flow</span>
                              </div>
                              <div class="auto-layout-horizontal-4a">
                                <span class="uptempo-instrumental-hip-hop-beats"
                                  >Uptempo instrumental hip hop beats.</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="auto-layout-vertical-4b">
                      <div class="frame-4c">
                        <div class="auto-layout-horizontal-4d">
                          <span class="spotify-playlists"
                            >Spotify Playlists</span
                          >
                        </div>
                        <span class="show-all-4e">Show all</span>
                      </div>
                      <div class="auto-layout-horizontal-4f">
                        <div class="auto-layout-horizontal-50">
                          <div class="auto-layout-vertical-51">
                            <div class="frame-52"></div>
                            <div class="auto-layout-vertical-53">
                              <div class="auto-layout-horizontal-54">
                                <span class="todays-top-hits"
                                  >Today's Top Hits</span
                                >
                              </div>
                              <div class="auto-layout-horizontal-55">
                                <span class="ed-sheeran-is-on-top"
                                  >Ed Sheeran is on top of the Hottest 50!</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="auto-layout-horizontal-56">
                          <div class="auto-layout-vertical-57">
                            <div class="frame-58"></div>
                            <div class="auto-layout-vertical-59">
                              <div class="auto-layout-horizontal-5a">
                                <span class="rapcaviar">RapCaviar</span>
                              </div>
                              <div class="frame-5b">
                                <span class="new-music-from-roddy-ricch"
                                  >New music from Roddy Ricch, Kodak Black, NLE
                                  Choppa and BIA.</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="auto-layout-horizontal-5c">
                          <div class="auto-layout-vertical-5d">
                            <div class="frame-5e"></div>
                            <div class="auto-layout-vertical-5f">
                              <div class="auto-layout-horizontal-60">
                                <span class="all-out-s">All Out 2010s</span>
                              </div>
                              <div class="auto-layout-horizontal-61">
                                <span class="the-biggest-songs"
                                  >The biggest songs of the 2010s.</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="auto-layout-horizontal-62">
                          <div class="auto-layout-vertical-63">
                            <div class="frame-64"></div>
                            <div class="auto-layout-vertical-65">
                              <div class="auto-layout-horizontal-66">
                                <span class="rock-classics">Rock Classics</span>
                              </div>
                              <div class="frame-67">
                                <span class="rock-legends-epic-songs"
                                  >Rock legends & epic songs that continue to
                                  inspire generations. Cover: Foo Fighters</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="auto-layout-horizontal-68">
                          <div class="auto-layout-vertical-69">
                            <div class="frame-6a"></div>
                            <div class="auto-layout-vertical-6b">
                              <div class="auto-layout-horizontal-6c">
                                <span class="chill-hits">Chill Hits</span>
                              </div>
                              <div class="auto-layout-horizontal-6d">
                                <span class="kick-back-chill-hits"
                                  >Kick back to the best new and recent chill
                                  hits.</span
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-6e">
        <div class="flex-row-eb">
          <div class="auto-layout-vertical-6f">
            <span class="preview-of-spotify">Preview of Spotify</span
            ><span class="sign-up-unlimited-songs"
              >Sign up to get unlimited songs and podcasts with occasional ads.
              No credit card needed.</span
            >
          </div>
          <div class="auto-layout-horizontal-70">
            <span class="sign-up-free">Sign up free</span>
          </div>
        </div>
        <div class="frame-71">
          <div class="auto-layout-horizontal-72"></div>
        </div>
      </div>
      <div class="auto-layout-horizontal-73"></div>
    </div>
  </body>
</html>
