<div class="box_content ">
  <div class="row">
    <div class="col col-9 col-sm-9 col-lg-10 col-xl-10 col-xxl-11">
      <div><p>Recently Played</p></div>
    </div>
    <div class="col col-3 col-sm-3 col-lg-2 col-xl-2 col-xxl-1 text-end">
      <div><p>Show All</p></div>
    </div>
  </div>
  <div class="row row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 row-cols-md-2 row-cols-2 gy-3">
    <div class="col">
      <div class="test">
        <div><p>Music</p></div>
      </div>
    </div>
    <div class="col">
      <div class="test">
        <div><p>Music</p></div>
      </div>
    </div>
      <div class="col d-none d-lg-block">
      <div class="test">
        <div><p>Music</p></div>
      </div>
    </div>
    <div class="col d-none d-xl-block">
      <div class="test">
        <div><p>Music</p></div>
      </div>
    </div>
    <div class="col d-none d-xxl-block">
      <div class="test">
        <div><p>Music</p></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-9 col-sm-9 col-lg-10 col-xl-10 col-xxl-11">
      <div><p>Recently Played</p></div>
    </div>
    <div class="col col-3 col-sm-3 col-lg-2 col-xl-2 col-xxl-1 text-end">
      <div><p>Show All</p></div>
    </div>
  </div>
  <div class="row row-cols-xxl-5 row-cols-xl-4 row-cols-lg-3 row-cols-sm-2 row-cols-md-2 row-cols-2 gy-3">
    <div class="col">
      <div class="test">
        <div><p>Music</p></div>
      </div>
    </div>
    <div class="col">
      <div class="test">
        <div><p>Music</p></div>
      </div>
    </div>
      <div class="col d-none d-lg-block">
      <div class="test">
        <div><p>Music</p></div>
      </div>
    </div>
    <div class="col d-none d-xl-block">
      <div class="test">
        <div><p>Music</p></div>
      </div>
    </div>
    <div class="col d-none d-xxl-block">
      <div class="test">
        <div><p>Music</p></div>
      </div>
    </div>
  </div>
</div>
