<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <header class="mt-4">
      <nav class="navbar bg-body-dark">
        <div class="container-fluid">
          <span class="navbar-brand text-light ms-3 mb-0 h1">MusicandOne</span>
        </div>
      </nav>
    </header>
    {{! content login }}

    <div class="login_signup container">
      <div class="mt-4  content_reset">
        <div class="container text-center">
          <h1>Đặt lại mật khẩu</h1>
        </div>
        <div class="mt-2 text-center">
            <p>Hãy nhập tên người dùng MusicandOne của bạn hoặc địa chỉ email mà bạn đã dùng để đăng ký. Chúng tôi sẽ gửi email cho bạn cùng tên người dùng của bạn và đường liên kết để đặt lại mật khẩu.</p>
            </div>
        <div class="mt-4">
          <form action="">
            <div class="mb-4">
              <label for="exampleInputEmail1" class="form-label text-light">Địa
                chỉ Email</label>
              <input

                type="email"
                class="form-control "
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                required
              />
            </div>
             
              <div id="emailHelp" class="form-text-color">Mọi thứ điều cần thiết
                cho quá trình bảo mật thông tin của bạn.</div>
              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                />
                <label
                  class="form-check-label text-light"
                  for="exampleCheck1"
                >Đồng ý với điều khoản</label>
              </div>
            </div>
            <div class="d-grid gap-1">
              <button class="btn btn-success rounded-pill" type="button">Tiếp
                theo</button>
            </div>
            
         
     
      {{! signup pluss }}

      <div class="mt-5">
        <div class="bar">
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>

      {{! login }}

        <div class="mt-4 ">
            <div class="text-center">
            <span class="fw-bolder">Bạn cần hỗ trợ?Hãy xem</span>
            <a href="" class="text-light">nhóm hỗ trợ.</a>
            </div>
            <div class="mt-2 text-center">
           
        </div>
          </form>
        </div>
      </div>
     
    </div>
  </body>
</html>